<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HouseManagementBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="HouseManagementBindingAsync1" />
        <binding name="DebtRequestsAsyncBinding">
          <security mode="Transport" />
        </binding>
        <binding name="DebtRequestsAsyncBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-home-management-service/services/HomeManagementAsync"
        binding="basicHttpBinding" bindingConfiguration="HouseManagementBindingAsync"
        contract="Service.Async.HouseManagement.v13_1_10_1.HouseManagementPortsTypeAsync"
        name="HouseManagementPortAsync" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-debtreq-service/services/DebtRequestsAsync"
        binding="basicHttpBinding" bindingConfiguration="DebtRequestsAsyncBinding"
        contract="Service.Async.DebtRequests.v13_1_10_1.DebtRequestsAsyncPort"
        name="DebtRequestsAsyncPort" />
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="10000000" maxSizeOfMessageToLog="2000000000"/>
    </diagnostics>
  </system.serviceModel>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false"/>
    </settings>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Logs\hcs.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
